﻿@page "/pomodoro"
@using System.Threading.Tasks
@using pomodoro.Models
@using System.Text.Json

<h1>Pomodoro</h1>

<button @onclick="@StartTimer">Start</button>
<button @onclick="@StopTimer">Stop</button>
<button @onclick="@SwitchTimer">Switch Timer to work/pause</button>
<button @onclick="@ToggleWorkMinutes">Toggle Work Minutes</button>
<button @onclick="@ResetTimer">Reset Timer</button>


<div>
    <h4>
        Historique
    </h4>

    <p>Nombre de période de travail : @nbrperiodetravail</p>
    <p>Nombre de période de pause : @nbrperiodepause</p>

    <h4>Session :</h4>
    @foreach (var line in File.ReadAllLines("historique.json"))
    {
        if (!string.IsNullOrWhiteSpace(line))
        {
            var session = JsonSerializer.Deserialize<Session>(line);
            if (session != null)
            {
                <p>Session : @session.Name</p>
                <p>Nombre de période de travail en seconde : @session.RealWorkTime</p>
                <p>Nombre de période de pause en seconde : @session.RealBreakTime</p>
                <div>------------------------------------------------------------------</div>
            }
            else
            {
                <p>Ligne invalide dans le fichier de l'historique.</p>
            }
        }
    }
</div>


<br />

@if (pomodoro != null)
{
    <p>
        @(pomodoro.IsWorkSession ? "Work Session" : "Break Session")
    </p>

    <p>
        Remaining Time: @(TimeSpan.FromSeconds(pomodoro.RemainingSeconds))
    </p>
}

@code {
    private Pomodorov2? pomodoro;
    private bool useLongWorkMinutes;
    private int nbrperiodetravail;
    private int nbrperiodepause;
    private Session session = new Session();

    protected override void OnInitialized()
    {
        pomodoro = new Pomodorov2(25, 5);
        pomodoro.OnStateChanged += StateHasChanged;
        pomodoro.OnTimeChanged += time =>
        {
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };

        session.Name = "Session " + DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
        System.IO.File.WriteAllText("historique.json", string.Empty);

        base.OnInitialized();
    }

    private void StartTimer()
    {
        if (pomodoro != null)
        {
            session.TotalBreakTime = session.TotalWorkTime = 0;
            pomodoro.Start();
        }
    }

    private void StopTimer()
    {
        if (pomodoro != null)
        {
            pomodoro.Stop();
        }
    }

    private void ToggleWorkMinutes()
    {
        useLongWorkMinutes = !useLongWorkMinutes;

        if (pomodoro != null)
        {
            if (useLongWorkMinutes)
            {
                pomodoro.SetWorkMinutes(45);
                pomodoro.SetBreakMinutes(15);
            }
            else
            {
                pomodoro.SetWorkMinutes(25);
                pomodoro.SetBreakMinutes(5);
            }

            pomodoro.Reset();
        }
    }

    private void SwitchTimer()
    {
        if (pomodoro != null)
        {
            if (useLongWorkMinutes)
            {
                pomodoro.SetWorkMinutes(45);
                pomodoro.SetBreakMinutes(15);
            }
            else
            {
                pomodoro.SetWorkMinutes(25);
                pomodoro.SetBreakMinutes(5);
            }

            pomodoro.SwitchTimer();
        }
    }

    private void ResetTimer()
    {
        if (pomodoro != null)
        {
            int realWorkTime = pomodoro.IsWorkSession ? pomodoro.GetWorkMinutes() * 60 - pomodoro.RemainingSeconds : 0;
            int realBreakTime = pomodoro.IsWorkSession ? 0 : pomodoro.GetBreakMinutes() * 60 - pomodoro.RemainingSeconds;

            Session session = new Session
            {
                Name = pomodoro.IsWorkSession ? "Work Session" : "Break Session",
                TotalWorkTime = pomodoro.GetWorkMinutes(),
                TotalBreakTime = pomodoro.GetBreakMinutes(),
                RealWorkTime = realWorkTime,
                RealBreakTime = realBreakTime,
                DateTime = DateTime.Now
            };

            string json = JsonSerializer.Serialize(session);

            System.IO.File.AppendAllText("historique.json", json + Environment.NewLine);

            if (useLongWorkMinutes)
            {
                pomodoro.SetWorkMinutes(45);
                pomodoro.SetBreakMinutes(15);
            }
            else
            {
                pomodoro.SetWorkMinutes(25);
                pomodoro.SetBreakMinutes(5);
            }

            pomodoro.Reset();
        }
    }

   
}
